<!DOCTYPE html>
<html>
  <head>
    <title>Style guide</title>
    <%= stylesheet_link_tag "elemental_styleguide/application", media: "all" %>
    <%= javascript_include_tag "elemental_styleguide/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="grid-container">
      <nav>
        <div class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 777.91 246.52"><defs><style>.cls-1{fill:#fff;}</style></defs><title>operator</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path class="cls-1" d="M155.76,134c-12.25,0-19.5,3.48-26,3.48a14.51,14.51,0,0,1-9.68-3.48V234.12c0,3.32-.9,7.26-3.47,10h41.13c-2.57-2.72-3.48-6.66-3.48-10V216.88a59.88,59.88,0,0,0,7,.45c23.14,0,41.89-17.54,41.89-41.13C203.1,148.82,181.32,134,155.76,134Zm2.42,54.14h-3.93V164.85h3.93c6.81,0,12.25,3.78,12.25,11.65S165,188.14,158.18,188.14Zm54.29-41.74v87.72c0,3.32-.9,7.26-3.48,10h66.85V211.58c-4.69,2.12-10.89,2.88-16.34,2.88H245.14V201.91h7.71a29.64,29.64,0,0,1,11.8,2.11V175.29a29.65,29.65,0,0,1-11.8,2.12h-7.71V166.06H259.5c5.45,0,11.65.76,16.34,2.88V136.42H209C211.57,139.14,212.47,143.08,212.47,146.4Zm242-10H413.3c1.82,1.21,3.33,2.42,3.33,4.84a25.26,25.26,0,0,1-1.51,6.66l-29.95,81.21A63.32,63.32,0,0,1,380.46,240a17.34,17.34,0,0,1-1-5.92c0-17.7-9.38-32.37-21.47-38.57,5.74-6.35,9.52-15.12,9.52-23.59,0-24.8-18.9-38-42.19-38-12.25,0-19.51,3.48-26,3.48A14.51,14.51,0,0,1,289.6,134V234.12c0,3.32-.91,7.26-3.48,10h41.13c-2.57-2.72-3.47-6.66-3.47-10V212.64c11.79,2.42,21.47,12.71,21.47,21.48,0,3.32-.91,7.26-3.48,10h79.4v-.76c-1.21-.9-1.67-3.17-1.67-4.84a20.36,20.36,0,0,1,2.57-9.83h29.64c1.06,3.18,2.27,6.35,2.27,9.68a14.32,14.32,0,0,1-1.06,5.75h43.56a25.31,25.31,0,0,1-6.2-9.38Zm-130.66,48.4v-20c5.59,0,12.85,2,12.85,10S329.37,184.82,323.78,184.82Zm105.7,19.05,6.81-33.12h.6L444,203.87Zm54.14-35.69c3-1.51,7.41-2.12,11.19-2.12h9.08v68.06c0,3.32-.91,7.26-3.48,10h41.13c-2.57-2.72-3.48-6.66-3.48-10V166.06h9.08c3.78,0,8.16.61,11.19,2.12V136.42H483.62ZM777.91,244.1c-2.57-2.72-3.48-6.66-3.48-10,0-17.7-9.37-32.37-21.47-38.57,5.74-6.35,9.52-15.12,9.52-23.59,0-24.8-18.9-38-42.19-38-12.25,0-19.51,3.48-26,3.48A14.51,14.51,0,0,1,684.6,134V234.12c0,3.32-.91,7.26-3.48,10h41.14c-2.57-2.72-3.48-6.66-3.48-10V212.64c11.8,2.42,21.47,12.71,21.47,21.48,0,3.32-.9,7.26-3.47,10Zm-59.13-59.28v-20c5.59,0,12.85,2,12.85,10S724.37,184.82,718.78,184.82ZM54.59,134C23.59,134,0,159.86,0,190.26H34.18c0-13,9.22-22.08,20.41-22.08S75,177.25,75,190.26h34.18C109.19,159.86,85.6,134,54.59,134ZM638,190.26c0,13-9.23,22.08-20.42,22.08s-20.42-9.07-20.42-22.08H563c0,30.4,23.6,56.26,54.6,56.26s54.59-25.86,54.59-56.26H638ZM43.32,33.6c2.18,2,4.28,4.24,7.22,5.25,4.88,1.67,9.75,3.44,14.92,3.88s10.29.63,15.53.93a9.36,9.36,0,0,1,2,2.27c1.84,4.4,5.31,7.52,8.33,11,3.39,3.91,7.55,6.94,12.64,7.92A166.51,166.51,0,0,0,121.48,67a17.35,17.35,0,0,0,6.1-.9,69.84,69.84,0,0,0,8.79-3.19c1.37-.61,2.89-1.15,3.64-2.92A7.66,7.66,0,0,1,143,56.67c3-1.83,4.82-4.56,6.43-7.54a5.74,5.74,0,0,1,3.61-3c3.74-1.1,7.93.1,11.4-2.3.15-.1.45,0,.68,0,5.08.5,9.81-1.09,14.59-2.38s9.63-2.66,11.92-7.91a41.45,41.45,0,0,0-1.9-6c-1.78-3.69-5.12-5.67-8.81-7.15A11,11,0,0,1,178,18.77a16.07,16.07,0,0,0-9.78-4c-6-.15-12,.24-18,.52-2.17.1-3.05-.21-3.82-2.12a12.73,12.73,0,0,0-5.59-6.69c-2.11-1.2-4.13-2.55-6.26-3.69A12.83,12.83,0,0,0,131,1.56c-2.38-.44-4.84-.5-7.19-1C118.85-.61,114.1.23,109.5,1.79a34.37,34.37,0,0,0-16.72,11.9c-1.21,1.61-2.6,1.91-4.54,1.6-3.29-.51-6.7-1.27-9.95-.91-6.15.68-12.33,1.11-18.39,2.81-7.3,2.06-13.6,5.37-18.29,10.89.39,1.16.72,2.06,1,3S42.77,33.09,43.32,33.6Zm107.85-9.31c2.81-1.67,5.63-.13,8.24-.6a33.29,33.29,0,0,1,8.22-.12c2-3,5.54,1.46,7.34-1.79,1.79.92,3.45,1.69,5,2.6,2.34,1.35,2.9,2.63,2.61,4.7-.26,1.87-1.8,2.47-3,2.94-5.93,2.25-11.8,4.69-18.4,4.25-2.7-.18-5.45.45-8.48.73C153.7,32.36,150.36,28.56,151.17,24.29Zm-16,29.34c-1.36.58-2.48,1.74-3.86,2.25-5.6,2.09-11.23,4.24-17.41,2.82-4.16-1-8.4-1.63-12.45-2.93A21.33,21.33,0,0,1,88.48,45a17.22,17.22,0,0,1,2.63-.28c8.06.36,16.13.57,24.16,1.24a42.71,42.71,0,0,0,12.37-.53,1.34,1.34,0,0,1,.35,0l13.68.38.47.7C140,49.07,138.53,52.17,135.15,53.63ZM90,29.06c.06-.29.64-.46.69-.75,1.07-5.65,5.74-8.52,9.66-11.65s8.15-6.74,13.5-7.94c1.68-.37,3.34-.83,5-1.25l4.88,2L127.33,5c5.9,1.34,10.6,4.13,12.49,10.41a12.39,12.39,0,0,0,1,1.82,23.94,23.94,0,0,1,3,9.43c.22,3.43.93,6.83,1.49,10.69a43.88,43.88,0,0,1-6,.79c-5.43-.08-10.85-.34-16.27-.57-2.29-.1-4.58-.36-6.87-.43-4.5-.13-9-.11-13.5-.27-4.84-.18-9.67-.49-14.58-.75C87.6,33.21,89.55,31.33,90,29.06ZM54.46,25.35c5-1.72,9.92-3.72,15.28-4,1.7-.08,3.42.15,5.11,0,1.45-.09,2.87-.68,4.31-.68,2.37,0,4.74.3,7.62.51-2.82,4.8-5.42,8.84-6,13.47-6-.38-11.85-.55-17.64-1.21-3.17-.37-6.24-1.58-9.36-2.38-1.22-.31-2.47-.49-3.68-.85a10.46,10.46,0,0,1-2-1.21C50.42,27.68,52.29,26.1,54.46,25.35Z"/></g></g></svg>
        </div>
        <%= navigation %>
      </nav>
      <main>
        <%= yield %>
      </main>
    </div>
    <script>
      var iframes = document.getElementsByTagName('iframe');

      for (var i = 0; i < iframes.length; i++) {
        iframes[i].onload = function(e) {
          var i = e.target;
          var d = i.contentWindow.document;
          var b = d.getElementsByTagName('body')[0];

          if (i.height == 'auto') {
            i.style.height = b.scrollHeight + 'px';
          } else {
            i.style.height = i.height + 'px';
          }
        }
      }
    </script>
  </body>
</html>
